[Unit]
Description=dbus

[Service]
ExecStart=dbus-daemon --system --address unix:path=/var/run/dbus/system_bus_socket --nopidfile --nofork

[Install]
WantedBy=default.target

