[Unit]
Description=init user
After=init-persistent.service
Requires=init-persistent.service

[Service]
ExecStart=/usr/share/system-scripts/init.user start
Type=forking

[Install]
WantedBy=default.target

