[Unit]
Description=Xephyr
After=init-user.service
Requires=init-user.service

[Service]
ExecStart=/usr/bin/Xephyr -sync -name Ubuntu-xfce4 -fullscreen  :10
Environment="DISPLAY=:0"
Restart=always
User=user
Group=user
[Install]
WantedBy=default.target

