[Unit]
Description=xfce4-session
After=xephyr.service
Requires=xephyr.service

[Service]
Environment="DISPLAY=:10"
ExecStart=/usr/bin/xfce4-session
Restart=always
User=user
Group=user
[Install]
WantedBy=default.target

